.category-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.125;
  color: $black-light;
  font-family:'open_sansbold';
}
.section-category{
  background-color: $background-gray;
  padding-top:0;
}
.products-found{
  font-size: 13px;
  font-weight: 400;
  color: $sub-title-gray;
  padding-top:17px;
}

.category-description {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  margin-top: 0.75rem;
}

.sort-title {
  color: $red-cake;
  text-align: left;
  padding:0;
  h4{
    color: $black-light;
    font-size: 15px;
    font-weight: 700;
  }
}

.select select:not([multiple]){
  border: none;
  background:transparent;
}

.select:not(.is-multiple):after{
  border-color: $red-cake  
}

.hero-body .breadcrumb {
  margin-bottom: 0.5rem;
}

.hero.is-light{
  padding-top:1em;
}
.hero.is-light .breadcrumb a {
  color: #7a7a7a;
  font-size:11px;
}


.sidebar {
  z-index: 1000;
  background: #fff;
  overflow: auto;
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.categories-tree li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: $title-gray;
  padding-top: 6px;
  padding-bottom: 6px;
}

.price-filter {
  margin: 40px 0;
  .max-field{
    position:relative;
    &:after{
      content:"- -";
      position:absolute;
      left: -21%;
      color: $sub-title-gray;
      letter-spacing:-1.47px;
    }
  }
  input{
    width:65px;
    height:26px;
    border:1px solid $red-cake;
    background:transparent;
    font-family:'open_sansbold';
    margin-right:29px;
    font-size: 13px;
    text-align: center;
    &::-webkit-input-placeholder{
      font-family:'open_sansregular';
      color: $sub-title-gray;
    }
  }
  button{
    border-radius:100%;
    background:$red-cake;
    position:relative;
    border:none;
    width:24px;
    height:24px;
    cursor:pointer;
    &:after{
      content:'';
      position:absolute;
      top:25%;
      left:33%;
      background-image:url('/assets/images/icons/arrow-button.png');
      background-repeat:no-repeat;
      width:22px;
      height:22px;
    }
  }
}

.price-filter-range {
  margin: 10px 0;
}

.price-filter-values {
  font-size: 0.75rem;
  color: $red-cake;
}

.load-more {
  margin: 30px 0;
}

.load-more button {
  max-width: 360px;
  margin: 0 auto;
}

.large-image-placeholder,
.small-image-placeholder,
.lazyload-placeholder {
  background: #f7f7f7;
  background-image: url('/assets/images/placeholder.png')
}

.small-image-placeholder {
  height: 200px;
}

.large-image-placeholder {
  height: 160px;
}

.attribute {
  margin-bottom: 2rem;
}

.attribute-title {
  margin-bottom: 6px;
  color: $title-gray;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
}

.attribute label {
  cursor: pointer;
  font-size: 0.75rem;
  padding: 2px 0px 0px 6px;
  margin: 2px 0px 0px 0px;
  color: $red-cake;
  align-items: center;
  display: flex;
  line-height: 1.2;
}

.attribute label:hover {
  background: rgba(0,0,0,0.05);
}

.attribute label.attribute-checked {
  color: #000;
}

.attribute label.attribute-disabled {
  color: #a1a1a1;
}

.attribute label input {
  margin-right: 6px;
}
.section-category{
  .product-item-column{
  }
}

.price-list-filter{
  line-height: 23px;
  margin-bottom: 5px;
  font-size: 13px;
  color: #333333;
  p{
    cursor:pointer;
  }
}

.item-actions{
  div, p{
   cursor:pointer;
  }
  p, span {
    font-size: 11px;
    color:$title-gray;
  }
}

.products {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.products.loading {
  opacity: 0.5;
}

.products figure.image {
  overflow: hidden;
  text-align: center;
}

.products .image img {
  display: inline;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 200px;
}

.products .out_of_stock .image img,
.products .discontinued .image img {
  opacity: 0.5;
}

.products .column a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: none;
  transition: transform 200ms ease-out;
}

.products .column a:active {
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) translateZ(-30px);
}

.products .product-caption {
  text-align: center;
  margin-top: 0.25rem;
}

.products .product-name {
  color: $title-gray;
  font-size: 13px;
  min-height: 36px;
  margin-bottom: 10px;
  }

.products .product-price {
  font-family:'open_sansbold';
  color: $red-cake;
  font-size: 22px;
  font-weight: 700;
  margin-bottom:20px;
}

.products .product-old-price {
  padding-left: 10px;
  color: $red-cake;
}

.products .product-new-price {
  color: #e72b1e;
}

.products .out_of_stock .product-price,
.products .discontinued .product-price {
  font-size: 0.75rem;
  color: #777;
}

.products .tags {
  position: absolute;
  top: 5px;
  left: 5px;
}

.products .column:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  background:$white;
}

.sort {
  align-items: center;
  font-size: 0.9rem;
}

/*
Mobile
*/
@media screen and (max-width: 769px) {
  .category-title {
    font-size: 1.25rem;
  }

  .products .product-caption {
    text-align: left;
  }

  .left-sidebar {
    background-color: #fff;
    padding: 0.75rem;
  }

  .attribute label {
    padding: 8px 0px 8px 8px;
    margin: 0px;
    background-color: #fff;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .attribute label:hover {
    background-color: inherit;
  }

  .attribute label:nth-child(even) {
    background-color: whitesmoke;
  }

  .products figure.image {
    height: auto !important;
  }
}
