hmtl,body{
	background-color:$background-gray;
}

.modal-background{
	background-color: #f5f5f5;
	opacity: .7;
}

@media screen and (min-width: 1024px) {
  .section {
   	padding:0;
  }
}

.continue-shopping-button {
    // still empty
}

.success-alert-text {
    color: $green;
}

.warning-alert-text {
    color: $error-alert-text;
}

.error-alert-text {
    color: $error-alert-text;
}

.boxes-pack{
	height:254px;
	> div{ 
		display:flex;
		background: white;
		border-radius:10px;
		> div {
			width:50%;
			padding:2em;
			position:relative;
			overflow:hidden;
			p{
				font-size: 22px;
				line-height: 36px;
				color: #4d4d4d;
				margin-bottom:27px;
				font-family:'open_sansregular';
			}
			img{
				position:absolute;
				top:-10%;
				left: -10%;
				overflow: hidden;
			}
			button{
				cursor:pointer;
			}
		}
	}
}

.button-view-more{
	background: #ff5959;
	border: none;
	border-radius: 12px;
	height: 40px;
	width: 150px;
	color: white;
	font-size: 20px;
	font-family: "open_sanssemibold";
}

.envelope-icon{
	background-image: url('/assets/images/icons/user-icon.png');	
	width: 16px;
	height: 20px;
	margin-right:10px;
}

.add-to-cart-icon{
	background-image: url('/assets/images/icons/add-to-cart.png');	
	background-repeat:no-repeat;
	width: 17px;
	height: 16px;
	margin-right:6px;
	display:inline-block;	
}

.favourite-heart-icon{
	background-image: url('/assets/images/icons/heart.svg');	
	width: 17px;
	height: 15px;
	display:inline-block;	
}

.breadcrumb li+li:before{
	content:">"
}


@media screen and (max-width: 768px) {
	.column-logo{
		text-align:center;
	}	
}

.rc-slider-handle{
	border-color: $red-cake;
}
.rc-slider-track{
	background-color: $red-cake;
}


// Slider custom
.image-gallery-bullets .image-gallery-bullets-container {
	background-color:transparent;
	display:block;
	padding:0;
}

.image-gallery-bullets .image-gallery-bullet{
	background-color: $white;
	opacity: 0.2;
	border:1px;
	transition:all 1s;
}

.image-gallery-bullets .image-gallery-bullet.active{
	opacity:.7;
	height: 14px;
	width: 14px;
	transition:all 1s;
}


.cancel-button{
	border: 2px solid $gray-super-light !important;
	background: transparent !important;
	font-size: 15px !important;
	color: $link-gray !important;
	font-family: 'open_sansregular' !important;
}
