hmtl,body{
	background-color:$background-gray;
}

.continue-shopping-button {
    // still empty
}

.success-alert-text {
    color: $green;
}

.warning-alert-text {
    color: $error-alert-text;
}

.error-alert-text {
    color: $error-alert-text;
}

.boxes-pack{
	background-image: url(/assets/images/pack_of_box.png);
	background-size: cover;
	background-repeat: no-repeat;
	height:254px;
	.columns .column{
		padding:2em;
		p{
			font-size: 22px;
			line-height: 36px;
			color: #4d4d4d;
			margin-bottom:27px;
		}
	}
}

.button-view-more{
	background: #ff5959;
	border: none;
	border-radius: 12px;
	height: 40px;
	width: 150px;
	color: white;
	font-size: 20px;
	font-family: "open_sanssemibold";
}

.envelope-icon{
	background-image: url('/assets/images/icons/user-icon.png');	
	width: 16px;
	height: 20px;
	margin-right:10px;
}

.add-to-cart-icon{
	background-image: url('/assets/images/icons/add-to-cart.png');	
	background-repeat:no-repeat;
	width: 17px;
	height: 16px;
	margin-right:6px;
	display:inline-block;	
}

.favourite-heart-icon{
	background-image: url('/assets/images/icons/heart.svg');	
	width: 17px;
	height: 15px;
	display:inline-block;	
}

.breadcrumb li+li:before{
	content:">"
}


@media screen and (max-width: 768px) {
	.column-logo{
		text-align:center;
	}	
}

.rc-slider-handle{
	border-color: $red-cake;
}
.rc-slider-track{
	background-color: $red-cake;
}


// Slider custom
.image-gallery-bullets .image-gallery-bullets-container {
	background-color:transparent;
	display:block;
	padding:0;
}

.image-gallery-bullets .image-gallery-bullet{
	background-color: $white;
	opacity: 0.2;
	border:1px;
	transition:all 1s;
}

.image-gallery-bullets .image-gallery-bullet.active{
	opacity:.7;
	height: 14px;
	width: 14px;
	transition:all 1s;
}

