.login-container {
    display: flex;
    align-items: baseline;
    margin: auto;
    width: 650px;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"],
.login-container textarea {
    width: 100%;
    border: 0px;
    border-bottom:1px solid #4d4d4d1c;
    border-radius: 0;
    padding: 0;
    padding-left:28px;
    font-family:'open_sansbold';
    color: $gray;
}

.login-container input[type="password"]::placeholder{
    opacity:.5;
    color:#4d4d4d;
    font-family:'open_sansregular'
}

.login-input-field.email:after{
    content:"";
    background-image: url('/assets/images/icons/envelope.png');
    width:18px;
    height:14px;
    background-repeat:no-repeat;
    position: absolute;
    left: 0;
    bottom: 5px;
}

.login-input-field.padlock:after{
    content:"";
    background-image: url('/assets/images/icons/padlock.png');
    width:13px;
    height:17px;
    background-repeat:no-repeat;
    position: absolute;
    left: 0;
    bottom: 5px;
}

.login-container input[type="text"]:focus,
.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus,
.login-container textarea:focus {
    outline: none;
}

.login-container input[type="text"].invalid,
.login-container input[type="email"].invalid,
.login-container input[type="password"].invalid,
.login-container textarea.invalid {
    border: 1px solid #e96161;
    background-color: rgba(233, 97, 97, 0.05);
}

.login-container label {
    font-size: 9pt;
    font-weight: normal;
    color: #747679;
    display: block;
    opacity:.5;
}

.login-container .error {
    color: #e96161;
    padding-left: 10px;
    font-weight: 500;
}

.register-form {
    margin: auto;
}

.login-form {
    margin: auto;
    width: 300px;
}

.login-form-with-guest {
     margin: 0;   
}

.login-section-guest {
    width: 300px;
    padding-left: 100px
}

.login-button-wrap {
    text-align: center;
    margin-top: 30px;
}

.login-link-wrap {
    text-align: right;
}

.login-button-style {
    background-color: $login;
    border-color: transparent;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
}

.register-button-style {
    background-color: $login;
    border-color: transparent;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
}

.login-input-field {
    margin-bottom: 28px;
    position:relative;
    &.padlock{
        margin-bottom: 10px;
    }
}

.login-title {
    padding-top: 20px;
    margin: 20px 0;
    font-family:'open_sansbold';
}

.send-password-success-title {
    color: $green;
}

.send-password-failed-title {
    color: $error-alert-text;
}

.login-success-title {
    padding-top: 20px;
    margin: 20px 0;
    color: $green;
}

.login-section h2 {
    text-align: center;
}

.login-button {
    margin: 0;
    color: $purple;
    font-size: 13px;
    font-weight: bold;
}

.login-name{
    color: $link-gray;
}

.login-icon {
    cursor: pointer;
}