.login-register-page{
    background:white;
    box-shadow: 0 0 15px #00000029;
    .checkbox-container{
        font-size:13px;
        color: $gray-light-dark;
        font-size:'open_sansregular';
        margin-bottom: 35px;
    }

    .payments-methods{
        position: absolute;
        bottom: 11px;
        width:100%;
        img{
           width: 60%;
        }
    }
    .account-button{
        width:100%;
        background:#ff5959;
        color:white;
        font-family:'open_sanssemibold';
        font-size:20px;
        height:50px;
        border-radius:12px;
        text-transform: capitalize;
        margin-bottom:50px;
    }

    ul.login-register-selector{
        list-style-type:none;
        margin:0;
        margin-bottom: 45px;
        padding:0;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        li{
            margin:0;
            font-size:20px;
            font-family:'open_sansregular';
            color: $gray-super-light;
            padding:0  50px 5px 50px;
            cursor:pointer;
            &.is-active{
                font-family:'open_sansbold';
                color:$red-cake;
                border-bottom:2px solid $red-cake;
            }
        }
    }

    .login-container input[type=email], .login-container input[type=password], .login-container input[type=text], .login-container textarea{
        padding: 0 0 0 15px;
        margin-bottom: 35px;
    }
}

.background-pakke{
    background-image:url('/assets/images/pakke-login-bk.png');
    background-size:cover;
    background-repeat: no-repeat;
        height: 100%;
    min-height: 750px;
}

.login-container {
    display: flex;
    align-items: baseline;
    margin: auto;
    width: auto;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"],
.login-container textarea {
    width: 100%;
    border: 0px;
    border-bottom:1px solid #4d4d4d1c;
    border-radius: 0;
    padding: 0;
    padding-left:28px;
    font-family:'open_sansbold';
    color: $gray;
    font-size:15px;
}

.login-container input[type="password"]::placeholder{
    opacity:.5;
    color:#4d4d4d;
    font-family:'open_sansregular'
}

.login-input-field.email:after{
    content:"";
    background-image: url('/assets/images/icons/envelope.png');
    width:18px;
    height:14px;
    background-repeat:no-repeat;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.login-input-field.padlock:after{
    content:"";
    background-image: url('/assets/images/icons/padlock.png');
    width:13px;
    height:17px;
    background-repeat:no-repeat;
    position: absolute;
    left: 0;
    bottom: 5px;
}

.login-container input[type="text"]:focus,
.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus,
.login-container textarea:focus {
    outline: none;
}

.login-container input[type="text"].invalid,
.login-container input[type="email"].invalid,
.login-container input[type="password"].invalid,
.login-container textarea.invalid {
    border: 1px solid #e96161;
    background-color: rgba(233, 97, 97, 0.05);
}

.login-container label {
    font-size: 13px;
    font-family:'open_sansregular';
    color: $link-gray;
    display: block;
    opacity:.5;
}

.login-container .error {
    color: #e96161;
    padding-left: 10px;
    font-weight: 500;
}

.register-form {
    margin: auto;
}

.login-form {
    margin: auto;
    width: 300px;
}

.login-form-with-guest {
     margin: auto;
}

.login-section-guest {
    width: 300px;
    padding-top:100px;
	  margin-right:100px;
}

.login-button-wrap {
    text-align: center;
    margin-top: 30px;
}

.login-link-wrap {
    text-align: right;
    &.forgot-password{
        a{
            text-decoration: underline;
            color: $link-gray;
        }
    }
}

.login-button-style {
    background-color: $login;
    border-color: transparent;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
}

.register-button-style {
    background-color: $login;
    border-color: transparent;
    color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
}

.login-input-field {
    margin-bottom: 28px;
    position:relative;
    &.padlock{
        margin-bottom: 8px;
    }
}

.login-title {
    padding-top: 20px;
    margin: 20px 0;
    font-family:'open_sansbold';
}

.send-password-success-title {
    color: $green;
}

.send-password-failed-title {
    color: $error-alert-text;
}

.login-success-title {
    padding-top: 20px;
    margin: 20px 0;
    color: $green;
}

.login-section h2 {
    text-align: center;
}

.login-button {
    margin: 0;
    color: $purple;
    font-size: 13px;
    font-weight: bold;
}

.login-name{
    color: $link-gray;
}

.login-icon {
    cursor: pointer;
}


@media screen and (max-width: 769px) {
	.login-container {
		align-items: baseline;
		margin: auto;
		width: auto;
		display: table;
	}

	.login-section-guest {
		padding-top:15px;
		margin-right:0px;
	}
}
