$gray-light: #e5e5e5;
$subtitle-gray: #707070;
$white: #fff;
$purple: #5e0d8b;
$link-gray: #4d4d4d;
$title-gray : #4d4d4d;
$gray : #4d4d4d;
$gray-light : #b3b3b3;
$sub-title-gray: #bbbbbb;
$black-light: #333333;
$red-cake: #ff5959;
$background-gray: #f5f5f5;

