$gray-light: #e5e5e5;
$subtitle-gray: #707070;
$white: #fff;
$purple: #5e0d8b;
$link-gray: #4d4d4d;
$title-gray : #4d4d4d;
$sub-title-gray: #bbbbbb;
$black-light: #333333;
$red-cake: #ff5959;
$background-gray: #f5f5f5;


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body{
	font-family: 'Open Sans', sans-serif !important;
}