.radio-box{
	display:flex;
	flex-flow: row wrap;
	justify-content: left;
	div{
		height: 39px;
		line-height: 39px;
		margin-right:20px;
		label{
			border:1px solid $gray-super-light;
			cursor:pointer;
			height:39px;
			font-size:15px;
			padding: 10px 14px;
		}
		&.checked label{
			font-family:"open_sansbold";
			color:white;
			background-color: rgba(255, 89, 89, 0.6);
			border: 1px solid #ff5959;
		}
	}	
}

@media screen and (max-width: 1024px){
	.radio-box{
		justify-content: initial;
		div{
			margin-right: 1vw;
		    margin-bottom: 1vw;
		}
	}
}

