.shipping-step,
.payment-step,
.confirm-step{
	position:relative;
}

.shipping-step,
.payment-step,
.confirm-step,
.modal{
	.back-button{
		border-radius: 12px;
		padding: 5px 45px;
		border: 2px solid #cccccc;
		font-family: 'open_sansregular';
		background:white;
		color: #4d4d4d;
		text-transform: capitalize;
	}
	.final-step{
		background: $green;
		color:white;
		font-family:'open_sanssemibold';
		font-size:20px;
		width:100%;
		height: 50px;
		padding:12px 0;
		img{
			margin-right:10px;
		}
	}
	table{ 
		tbody{
			tr{
				td{
					text-align:center;
				}
			}
		}
		thead{
			background: $gray-super-light;
			color:white;
			text-align: center;
			tr{
				height: 40px;
				line-height: 40px;
				th{
					color: white;
					text-align: center;
					font-family:'open_sansregular';
					font-size: 13px
				}

				th:first-child{
					text-align:left;
				}
			}
		}
	}

	.checkmark{
		background-color:transparent !important;
	}


	h3{
		font-size:18px;
		color: $title-gray;
		margin-bottom:34px;
		font-family:'open_sanssemibold'
	}

	h4{
		font-size:13px;
		color: $gray-light-dark;
		opacity:.5;
		font-family:"open_sansregular";
		min-height:20px;
	}

	button{
		margin-top:20px;
		font-size:15px;
		border: none;
		color: white;
		padding:5px 20px;
		font-family:"open_sanssemibold";
		border-radius: 12px;
		background-color: $red-cake;
		cursor:pointer;
	}

	button:disabled,
	button[disabled]{
		opacity:.5
	}

	hr{
		margin-top:0;
		margin-bottom: 38px;
	}
	
	.payment-checkout-field.card-number{
		position:relative;
		img{
			position:absolute;
			height:30px;
			right: 16px;
			bottom: 1px;	
		}


		&.error{
			.separator{
				opacity:0;
			}
		}

		.card-input{
			font-size: 15px;
			font-family: 'open_sansbold';
			word-spacing: 2.6vw;
			width: 100%;
			color:$link-gray;
			width:95%;
			@media screen and (max-width: 769px) {
				word-spacing: 35px;
			}
			@media screen and (max-width: 1280px) {
				word-spacing: 2vw;
			}
		}

		.separator{
			span{
				position: absolute;
				&:after{
					position:absolute;
					font-family: 'open_sansregular';
					content: "-";
					color: #b3b3b3;
					font-size: 15px;
				}

				&:nth-child(1){
					left: 15%;
					@media screen and (max-width: 1280px) {
						word-spacing: 3.5vw;
					}
					@media screen and (max-width: 1440px) {
					left: 3.6vw;
					}
				}
				&:nth-child(2){
					left: 40%;
					@media screen and (max-width: 1440px) {
						left: 9vw;
					}
				}
				&:nth-child(3){
					left: 65%;
					@media screen and (max-width: 1440px) {
						left: 14vw;
					}
				}
			}
		}
	}



	.card-holder-container{
		position:relative;
		
		.card-input{
			font-size: 15px;
			font-family: 'open_sansbold';
			word-spacing: 2.6vw;
			width: 100%;
			color:$link-gray;
			width:95%;
			@media screen and (max-width: 769px) {
				word-spacing: 35px;
			}
		}
	}

	.card_year_exp,
	.card_month_exp,
	p.mont-year-exp-separator{
		display:inline;
		input{
			width:33%
		}
	}

	p.mont-year-exp-separator{
		margin: 0 17px;
	}

	.boxAddress{
		line-height:23px;
		font-size:13px;
		font-family:'open_sansregular';
		> div {
			min-height: 130px;
		}
		
	}


	input{
	  color: $link-gray;
	  border:none;
	  border-bottom: 2px solid rgba(77, 77, 77, 0.50);
	  font-size: 15px;
	  min-height:19px;
	  width:100%;
	  font-family:'open_sansbold';
	  padding:0;
	  background-color: transparent;
	  &:-webkit-autofill,
	  &:-webkit-autofill:hover,
	  &:-webkit-autofill:focus,
	  &:-webkit-autofill:active {
	      -webkit-transition-delay: 99999s;
	  }

	  &::placeholder {
  		font-family:'open_sansregular';
  		color: $gray-light-dark;
		}
	}
}





.payment-gateways{
	
	> ul {
		display:flex;
		flex-flow:row wrap;
	}

	.gateways-selector{
		@media screen and (max-width: 769px) {
			display:flex;
			flex-flow:row wrap;
		}
	}
}


.confirm-step{
	hr{
		margin:0;
	}
	.checkbox-container{
		font-size:13px;
	
		p{ 
			color: $gray-light-dark
		}
		
		a{
			color: $red-cake;
			text-decoration: underline;
		}
	}
}


.td-product-name{
	display: inline-flex;
	align-items: center;
	width:100%;
	.image{
		display: inline-block;
		margin-right: 30px;
		a img{
			max-width: 50px;
			height: 50px;
		}
	}
}

.shipping-step{
	button{
		margin-top:0;
	}
}

.card-payment-form{
	.card_month_exp > .ant-select ,
	.card_year_exp > .ant-select {
			width:35%;
	}
}

.card-payment-form,
.payment-checkout-field,
.address-checkout-field{
	position:relative;
	margin-bottom:30px;

	label{
		position: absolute;
		top: -20px;
		font-size:13px;
		color: #4d4d4d;
		opacity: .5;
		transition:all .3s
	}


	&.error,
	&.dirty{
		label{
			top:0;
			transition:all .3s
		}
	}
}